<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Curated needs camera access to take photos for your posts.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Curated needs photo library access to save your photos.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Curated uses your location to tag where your photo was taken.</string>
	<key>UIAppFonts</key>
	<array>
		<string>OpenSauceSans-Regular.ttf</string>
		<string>OpenSauceSans-Medium.ttf</string>
		<string>OpenSauceSans-SemiBold.ttf</string>
		<string>OpenSauceSans-Bold.ttf</string>
		<string>OpenSauceSans-Light.ttf</string>
	</array>
</dict>
</plist>
